{% extends 'factura/base.html' %}

{% block content %}
    <div class="factura">
        {% if factura.published_date %}
            <div class="date">
                {{ factura.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'factura_edit' pk=factura.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
             <a class="btn btn-default" href="{% url 'factura_remove' pk=factura.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <p>{{ factura.numero }}</p>
        <p>{{ factura.fecha }}</p>
        <h2>{{ factura.estado }}</h2>
        <h3>{{ factura.total }}</h3>
        <p>{{ factura.proveedor|linebreaksbr }}</p>
    </div>
{% endblock %}
