{% extends 'proveedor/base.html' %}

{% block content %}
    <div class="proveedor">
        {% if proveedor.published_date %}
            <div class="date">
                {{ proveedor.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
             <a class="btn btn-default" href="{% url 'proveedor_edit' pk=proveedor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
             <a class="btn btn-default" href="{% url 'proveedor_remove' pk=proveedor.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ proveedor.apellido }}</h2>
        <p>{{ proveedor.CUIT|linebreaksbr }}</p>
    </div>
{% endblock %}
