<html>
<head>
</head>
<body>
<h1>THIS IS THE HOME TEMPLATE</h1>
<h2><a href="{% url 'product_list' %}"> PRODUCTOS</a></h2>
<h2><a href="{% url 'proveedor_list' %}"> PROVEEDORES</a></h2>
<h2><a href="{% url 'factura_list' %}"> FACTURAS</a></h2>

</body>
</html>
