{% extends 'proveedor/base.html' %}

{% block content %}
    <h2>Nuevo Proveedor</h2>
    <form method="POST" class="proveedor-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Guardar</button>
    </form>
{% endblock %}
